In [2]:
import pandas as pd

У нас есть данные о бронировании отелей. Выгрузим их

In [3]:
bookings = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-n-lisogor/Lesson_2_Miniproect/2_bookings.csv', 
                       encoding ='windows-1251', sep=';')

In [4]:
bookings.head()

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

Приведем названия колонок к удобного форммату, запишем названия в нижнем регистре без пробелов

In [5]:
bookings.columns = bookings.columns.str.replace(' ', '_')

In [6]:
bookings.columns = bookings.columns.str.lower()

In [7]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

Проверим типы данных в нашем датасете, посмотрим, есть ли пропущенные значения

In [8]:
bookings.dtypes

hotel                         object
is_canceled                    int64
lead_time                      int64
arrival_full_date             object
arrival_date_year              int64
arrival_date_month            object
arrival_date_week_number       int64
arrival_date_day_of_month      int64
stays_in_weekend_nights        int64
stays_in_week_nights           int64
stays_total_nights             int64
adults                         int64
children                     float64
babies                         int64
meal                          object
country                       object
reserved_room_type            object
assigned_room_type            object
customer_type                 object
reservation_status            object
reservation_status_date       object
dtype: object

In [9]:
bookings.isna().sum()

hotel                          0
is_canceled                    0
lead_time                      0
arrival_full_date              0
arrival_date_year              0
arrival_date_month             0
arrival_date_week_number       0
arrival_date_day_of_month      0
stays_in_weekend_nights        0
stays_in_week_nights           0
stays_total_nights             0
adults                         0
children                       4
babies                         0
meal                           0
country                      488
reserved_room_type             0
assigned_room_type             0
customer_type                  0
reservation_status             0
reservation_status_date        0
dtype: int64

In [12]:
bookings.head(7)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

###### Пользователи из каких стран совершили наибольшее число успешных бронирований? Вывести топ-5 стран

In [10]:
reservation = bookings.query ('is_canceled != 1')

In [11]:
country_res = reservation.groupby (['country', 'is_canceled'], as_index=False) \
    .aggregate({'is_canceled': 'count'}) \
    .sort_values('is_canceled', ascending=False)

In [12]:
country_res.head(5)

    country  is_canceled
125     PRT        21071
57      GBR         9676
54      FRA         8481
50      ESP         6391
42      DEU         6069

###### На сколько ночей в среднем бронируют отели типа City Hotel? Resort Hotel?

In [24]:
nights_by_hotels = bookings\
    .groupby('hotel')\
    .aggregate({'stays_total_nights': 'mean'})\
    .sort_values('stays_total_nights', ascending=False)\
    .stays_total_nights.round(2)

In [25]:
nights_by_hotels

hotel
Resort Hotel    4.32
City Hotel      2.98
Name: stays_total_nights, dtype: float64

###### Иногда тип номера, присвоенного клиенту (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга.

###### Сколько подобных наблюдений встретилось в датасете?

In [26]:
len(bookings.query ('reserved_room_type != assigned_room_type'))

14917

###### На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

In [29]:
bookings.groupby('arrival_date_year').arrival_date_month.agg(pd.Series.mode)

arrival_date_year
2015    September
2016      October
2017          May
Name: arrival_date_month, dtype: object

###### В какой месяц бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017?

In [34]:
bookings.query('hotel == "City Hotel"')\
    .groupby(['arrival_date_year', 'arrival_date_month'])\
    .is_canceled.sum().groupby(['arrival_date_year']).nlargest(1)

arrival_date_year  arrival_date_year  arrival_date_month
2015               2015               September             1543
2016               2016               October               1947
2017               2017               May                   2217
Name: is_canceled, dtype: int64

###### Не все бронирования завершились успешно , поэтому можно посчитать, сколько клиентов было потеряно в процессе - посчитать метрику Churn Rate.
Давайте посмотрим, как эта метрика связана с наличием детей у клиентов!

In [43]:
bookings['total_kids'] = bookings.children + bookings.babies
bookings['has_kids'] = bookings['total_kids'] >= 1

In [44]:
rates = bookings.groupby('has_kids')['is_canceled'].value_counts(normalize=True)
round(rates * 100, 2)

has_kids  is_canceled
False     0              62.78
          1              37.22
True      0              65.08
          1              34.92
Name: is_canceled, dtype: float64